@font-face{
    font-family: "Montserrat";
    src: local("?"), url("../fonts/Montserrat-Medium.otf");
}
@font-face{
    font-family: "Montserrat";
    src: local("?"), url("../fonts/Montserrat-Regular.otf");
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

header #up-header{
    display: flex;
    background: #131c4e;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 40px;
}

header #social{
    display: flex;
    align-items: center;
    width: 133px;
    justify-content: space-between;
}

header #linea{
    font-family: "Montserrat", medium;
    font-size: 16px;
    background: #6cc049;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
}

header #transparencia{
    font-family: "Montserrat", medium;
    font-size: 12px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
}

#menu1{
    overflow: hidden;
    font-family: "Montserrat";
    font-size: 16px;
    width: 100%;    
    background-color: white;
    border-bottom: solid 2px gray;
    z-index: 1;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

nav .menu #logo{
    width: 150px;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

.sticky{
    top: 0px;
    width: 100%;
    font-size: 11px;
    height: 54px;
    overflow: hidden;
    font-family: "Montserrat";
    background-color: white;
    border-bottom: solid 2px gray;
    z-index: 1;
    position: fixed;
    display: block;
    
}


/*
nav #menu #logo{
    width: 150px;
  }

nav #menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}

nav #menu li{
    list-style: none;
}

*/
nav .menu li#pago-en-linea{
    background: #6cc049;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
}

nav .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}

#menu1 a{
    color: gray;
}

nav .menu li{
    list-style: none;
}

li{
    /*list-style: none;*/
}

#listaVideos li{
    list-style: none;
}
#listaMandamientos li{
    list-style: upper-roman; 
}


#listaMandamientos{
    padding-left: 20px;
    height: 1450px;
    position: flex;
}

#informacion-horarios{
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    /* margin: 1rem 0; */
}

#slider{
    position: static;
    height: 485px;
    width: 100%;
}

.slide img{
    width: 100%;
    vertical-align: middle;
    height: 485px;
}

.slide{
    position: relative;
    display: block;
}

.slider-controls{
    position: absolute;
    bottom: 0;
    width: 75px;
    top: 0;
    margin: auto 16px;
    cursor: pointer;
}

.slider-controls#next{
    right: 0;
}

.slider-controls#back{
    left: 0;
}

.slide-background{
    background: #4343ab;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
}

.servicios{
    height: 275px;
    width: 100%;
    display: flex;
}

.servicio{
    font-family: "Montserrat", medium;
    font-size: 32px;  
    color: #fff;
    text-align: center;
    display: block;  
}

.servicios .tramites{
    width: 33.3333%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios .tramites a{
    display: inline-block;
}
.servicios #tramitesServicios{
    background-color: #44832a;
}
.servicios #pagoLinea{
    background-color: #6cc049;
}   
.servicios #fugasReportes{
    background-color:#3fbfad;
}

.servicios .tramites img{
    width: 100px;
}

.objetivo{
    position: static;
    height: 285px;
    width: 100%;
    background: #131c4e;
}

.tituloObjetivo{
    padding-top: 80px;
    font-family: "Montserrat", medium;
    font-size: 32px;
    text-align: center;
    color: white;
}

#objetivo{
    font-family: "Montserrat", Regular;
    font-size: 18px;
    color: white;
    display: flex;
    padding-top: 25px; 
    margin-left: 30px; 
    margin-right: 30px; 
    text-align: center;
    
}

.objetivoDesc{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

footer{
    width: 100%;
    height: 311px;
    background: #131c4e;
    color: white;
    padding: 0 4.5rem;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}
footer li{
    list-style: none;
}

footer .tituloFooter{
    font-family: "Montserrat";
    font-size: 32px;
    color: #6cc049;
}

footer .tituloFooter h1{
    font-size: 32px;
}

#info-oficinas{
    margin-right: 4rem;
}

.socialContent{
    height: 813px;    
}

.contenido{
    height: 1088px;
    width: 940px;
    /*border: solid 2px;*/ 
    margin-left: 189px;
    position: static;
}

.contenidoCultura{
    height: 788px;
    width: 940px;
    /*border: solid 2px;*/ 
    margin-left: 189px;
    /*border: solid 2px black;*/    
    position: static;
}

.contenido #tituloGeneral{
    font-family: "Montserrat";
    font-size: 42px;
    color: #82bc00; 
    padding-top: 10px;
}

.contenido #tituloReporte2{
    font-family: "Montserrat";
    font-size: 21px;
    color: gray;
}

.contenido img{
    padding-top: 20px;
}

#tituloReporte{
    font-family: "Montserrat";
    font-size: 21px;
    color: #82bc00; 
}

#tituloReportes{
    border-left: solid 4px;
    border-color: #82bc00;
    padding-left: 15px;
}

.contenido .titulosReportes1{
    padding-top: 25px;
}

#informacion-contacto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Montserrat";
    font-size: 12px;
}

#informacion-contacto a:hoover{
    text-decoration: none;
}

#informacion-contacto > *{
    margin:.5rem;
}

#informacion-tramites{
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
}

#informacion-tramites ul li{
    display: inline-block;
    padding: .5rem;
}

/*Inicio de ciclo del agua*/
.contenidoCultura{
    position:   static;
}

.contenidoCultura #contentVideos{
    display: flex;
    flex-direction: column;
}

#textoCiclo {
    font-family: "Montserrat";
    font-size: 42px;
    color: #82bc00;
    text-align: left;
    padding-bottom: 30px;
}

#imagenHeader {
    left: 250px;
}

#parrafos {
    left: 250px;
    font-size: 18px;
}

#conoceMas{
    left: 900px;
    bottom: 180px;
    font-size: 18px;   
}

/*Inicio cultura del agua*/
.contenidoCultura #parrafosCultura {
    width: 750px;
    position: static;
    left: 280px;
    top: 500px;
    font-size: 22px;
    padding-left: 20px;
    border-left: solid 4px #82bc00;
}

#parrafosCulturaTitulo{
    font-family: "Montserrat";
    font-size: 21px;
    color: #82bc00;
    position: initial;
}

.contenidoCultura #parrafosCultura #parrafosCulturaContenido{
    font-family: "Montserrat";
    font-size: 21px;
    color: gray;
}
#conoceMasCultura a{
    text-decoration: none;
    color: #131c4e;
}
#conoceMasCultura a:active{
    color: #82bc00;
}
#conoceMasCultura a:hover{
    color: #82bc00;
}

#conoceMasCulturaActivado a{
    color: #82bc00;
}

.contenidoCultura #conoceMasCultura {
    position: static;
    font-size: 18px; 
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    height: 350px;
}

#videoCultura {
    float: left;
}

/*Ciclo del Agua*/
.contenidoCiclo{
    height: 1450px;
    font-size: 22px;
    padding-left: 10px;
    width: 940px;
    margin-left: 180px;
}

.contenidoCiclo #parrafosCiclo #parrafosCulturaContenido{
    border-left: solid 4px #82bc00;
    padding-left: 20px;
    font-family: "Montserrat";
    font-size: 21px;
    position: static;
    text-align: justify;
}
.contenidoCiclo #parrafosCiclo #parrafosCulturaContenido p{
    margin-top: 15px;
}
.contenidoCiclo #conoceMasCultura{
    width: 30%;
    float: right;
}

.contenidoCiclo #parrafosCulturaContenido{
    width: 60%;
    float: left;
}

.contenidoCiclo #bannerCicloImg img{
    padding-bottom: 80px;
    position: flex;
}

#regresoCultura a{
    font-family: "Montserrat";
    font-size: 14px;
    color: #131c4e;
    text-decoration: none;
}

#regresoCultura {
    padding-top: 25px;
    text-decoration: none;
}

/*inicio contaminacion*/
.contenidoContaminacion{
    height: 1000px;
    font-size: 22px;
    padding-left: 20px;
    width: 940px;
    margin-left: 200px;
}

/*Inicio donde buscarnos*/
#direccionDonde {
    position: absolute;
    left: 950px;
    top: 230px;
    font-size: 18px;
}

#horarioDonde {
    position: absolute;
    left: 950px;
    bottom: 350px;
    font-size: 18px;   
}

#tablaDirectorio {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 100px;
    left: 550px;
    border: red 5px solid;
    border-collapse: separate;
}

#listaVideos{
    font-family: "Montserrat";
    font-size: 16px;
    color: #131c4e;
    line-height: 44px;
}
/* PRIMERA FILA DEL MENU DE TRAMIETES Y SERVICIOS*/
/*ANIMATION*/
.menuTramitesPrincipal img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.menuTramitesPrincipal img:hover {
    opacity: .5;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
} /*ANIMATION END */

.menuTramitesPrincipal{
    font-family: "Montserrat";
    color: white;
    font-size: 9px;
    text-align: center;
    display: flex;  
    padding-left: 145px; 
}
.menuTramitesPrincipal .menuTramites2{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgServicio{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textServicio{
    height: 248px; 
    width: 318px; 
    background-color: #458452;
    font-size:2em;
    text-align: center;
    display: inline-block;
}
#imgZonaUrbana{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textZonaUrbana{
    height: 248px;
    width: 318px;
    background-color: #6cc049;
    font-size:2em;
    text-align: center;
    display: inline-block;
}
#imgCambioNombre{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#CambioNombre{
    height: 248px;
    width: 318px;
    background-color: #3fbfad;
    font-size:2em;
    text-align: center;
    display: inline-block;
}

/* SEGUNDA FILA DEL MENU DE TRAMIETES Y SERVICIOS*/
/*ANIMATION*/
.menuTramitesPrincipal2 img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.menuTramitesPrincipal2 img:hover {
    opacity: .5;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
} /*ANIMATION END */
.menuTramitesPrincipal2{
    
    font-family: "Montserrat";
    color: white;
    font-size: 9px;
    text-align: center;
    display: flex;  
    margin-left: 145px;
}
.menuTramitesPrincipal2 .menuTramites3{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgActivacion{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textActivacion{
    height: 248px; 
    width: 318px; 
    background-color: #67a54e;
    font-size:2em;
    text-align: center;
    display: inline-block;
}
#imgInactivacion{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textInactivacion{
    height: 248px; 
    width: 318px;
    background-color: #82bc00;
    font-size:2em;
    text-align: center;
    display: inline-block;
    
}
#imgBajaContratos{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#BajaContratos{
    height: 248px; 
    width: 318px; 
    background-color: #99bd73;
    font-size:2em;   
    display: inline-block;
}

.contenido2{
    position: relative;
    padding-left: 40px;
}
/* TERCERA FILA DEL MENU DE TRAMIETES Y SERVICIOS*/
/*ANIMATION*/
.menuTramitesPrincipal3 img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.menuTramitesPrincipal3 img:hover {
    opacity: .5;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
} /*ANIMATION END */
.menuTramitesPrincipal3{
    font-family: "Montserrat";
    color: white;
    font-size: 9px;
    text-align: center;
    display: flex;  
    margin-left: 145px;
}
.menuTramitesPrincipal3 .menuTramites4{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgInstalacion{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textInstalacion{
    height: 248px; 
    width: 318px;  
    background-color: #94c249;
    font-size:2em;
    text-align: center;  
    display: inline-block;
}
#imgPresupuesto{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#textPresupuesto{
    height: 248px; 
    width: 318px;  
    background-color: #75ad74;
    font-size:2em;
    text-align: center;
    display: inline-block;
}
#imgDatosFiscales{
    width: 110px;
    height: 110px; 
    display: inline-block;
}
#DatosFiscales{
    height: 248px; 
    width: 318px;
    background-color: #009045;
    font-size:2em;
    text-align: center;
    display: inline-block;
}
.text1{
    font-family: "Montserrat";
    font-size:42px;
    color: #82bc00;
    padding-left: 145px;
    padding-top: 10px;
    padding-bottom: 15px;
}
#lect1{
    font-family: "Montserrat";
    font-size: 25px;
   color: #82bc00;
}
.text2{
    font-family: "Montserrat";
    padding-left: 145px;
}

#lectura1{
    border-left: solid 4px;
    border-color: #82bc00;
    padding-left: 5px;
    
}       
#sliderTramites{
    padding-left: 145px;
    padding-right: 50px;
    width: 940px;
    height: 280px;
}
/*FIN DE TRAMITES Y SERVICIOS*/

/*Inicio donde quejas y sugerencias*/
#parrafoQuejas {
    position: absolute;
    top: 180px;
    left: 150px;
    font-size: 18px;
}

#formularioQuejas {
    position: absolute;
    top: 280px;
    left: 600px;
    font-size: 20px;
}  

i {
    color: #3484BD;
}  

#botonQuejas {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botonQuejas {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.infoCapdam{
    opacity: .2;
    background-color:rgb(255,0,0);
    height: 530px;
    width:100%; 
    position: absolute;
    top: 0px;
}
#contenidoInfocapdam{
    height: 530px;
    width:100%;
    position: relative;
    color: #000000;
}
/*
#contenidoInfocapdamTitulo{
    font-family: "Montserrat";
    font-size: 32px;
    color: white;
    float: right;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
}

#contenidoInfocapdamDescripcion{
    font-family: "Montserrat";
    font-family: 18px;
    color: white;
    float: right;
    padding-right: 20px;
    padding-left: 650px;
    text-align: right;
}*/