@font-face{
   font-family: "Montserrat";
   src: local("?"), url("../fonts/Montserrat-Medium.otf");
}
@font-face{
   font-family: "Montserrat";
   src: local("?"), url("../fonts/Montserrat-Regular.otf");
}

*{
   margin: 0;
   padding: 0;
   border: 0;
}
.contenidoQuejas{
    width: 940px;
    height: 850px;
    position: static;
 }
 
 .contenidoQuejas #titulo{
     height: 60px;
     font-size: 42px;
     color: #82bc00;
    font-family: "Montserrat";
    position: relative;
}

.contenidoQuejas #parrafoQuejas {
    height: 150px;
    font-size: 21px;
    font-family: "Montserrat";
    float: right;
    position: static;
    }
 
 .contenidoQuejas #formularioQuejas {
     width: 840px;
     height: 550px;
     position: static;
     font-size: 20px;
     border: solid 2px;
     float: right;
 }      
 .contenidoQuejas #parrafosQuejas{
     width:  940px;
     height: 210px;    
     position: static;
 }
 #formularioQuejas i{
     color: #6cc049; 
 }  
 
 .contenidoQuejas #botonQuejas {
     background-color: #6cc049; 
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
    float: right;
    position: static;
    height: 50px;
    }

 
 #botonQuejas:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .w3-col {
     width:700px;
 }
 
 
#menu1{
   overflow: hidden;
   font-family: "Montserrat";
   font-size: 16px;
   width: 100%;    
   z-index: 1;
   background-color: white;
   border-bottom: solid 2px gray;
   transition: all 1s;
   -moz-transition: all 1s; /* Firefox 4 */
   -webkit-transition: all 1s; /* Safari and Chrome */
   -o-transition: all 1s; /* Opera */
}

nav .menu #logo{
   width: 150px;
   transition: all 1s;
   -moz-transition: all 1s; /* Firefox 4 */
   -webkit-transition: all 1s; /* Safari and Chrome */
   -o-transition: all 1s; /* Opera */
}

.sticky{
   top: 0px;
   width: 100%;
   font-size: 11px;
   height: 84px;
   overflow: hidden;
   font-family: "Montserrat";
   background-color: white;
   border-bottom: solid 2px gray;
   z-index: 1;
   position: fixed;
}


/*
nav #menu #logo{
   width: 150px;
 }

nav #menu{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 72px;
}

nav #menu li{
   list-style: none;
}

*/
nav .menu li#pago-en-linea{
   background: #6cc049;
   display: flex;
   height: 100%;
   align-items: center;
   padding: 0 15px;
}

nav .menu{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 72px;
}

#menu1 a{
   color: gray;
}

nav .menu li{
   list-style: none;
}



header #up-header{
   display: flex;
   background: #131c4e;
   justify-content: space-around;
   align-items: center;
   color: white;
   height: 40px;
   z-index: 1;
}

header #social{
   display: flex;
   align-items: center;
   width: 133px;
   justify-content: space-between;
}

header #linea{
   font-family: "Montserrat", medium;
   font-size: 16px;
   background: #6cc049;
   display: flex;
   height: 100%;
   align-items: center;
   padding: 0 10px;
}

header #transparencia{
   font-family: "Montserrat", medium;
   font-size: 12px;
   display: flex;
   height: 100%;
   align-items: center;
   padding: 0 15px;
}
footer{
   width: 100%;
   height: 311px;
   background: #131c4e;
   color: white;
   padding: 0 4.5rem;
   overflow: auto;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: space-evenly;
}
footer li{
   list-style: none;
}

footer .tituloFooter{
   font-family: "Montserrat";
   font-size: 32px;
   color: #6cc049;
}

footer .tituloFooter h1{
   font-size: 32px;
}

#info-oficinas{
   margin-right: 4rem;
}
#informacion-horarios{
   display: flex;
   font-family: "Montserrat";
   font-size: 16px;
   /* margin: 1rem 0; */
}
#informacion-contacto{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   font-family: "Montserrat";
   font-size: 12px;
}

#informacion-contacto a:hoover{
   text-decoration: none;
}

#informacion-contacto > *{
   margin:.5rem;
}

#informacion-tramites{
   text-align: center;
   font-family: "Montserrat";
   font-size: 16px;
}

#informacion-tramites ul li{
   display: inline-block;
   padding: .5rem;
}
